<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <setting>
    <cfg_name>cfgProgramActive</cfg_name>
    <cfg_type>BOOLEAN</cfg_type>
    <cfg_usage>REGULAR</cfg_usage>
    <cfg_value>1</cfg_value>
    <cfg_value_set>NONE</cfg_value_set>
    <cfg_value_group>Page 1</cfg_value_group>
    <cfg_label>kitOffer is active</cfg_label>
    <cfg_hint>If you switch &lt;b&gt;off&lt;/b&gt; kitOffer it will be no longer active, also Droplets will not perform any action.</cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.10</cfg_version>
    <cfg_update>INSERT</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  <setting>
    <cfg_name>cfgTestXX</cfg_name>
    <cfg_type>BOOLEAN</cfg_type>
    <cfg_usage>REGULAR</cfg_usage>
    <cfg_value>1</cfg_value>
    <cfg_value_set>grp A</cfg_value_set>
    <cfg_value_group>Page 1</cfg_value_group>
    <cfg_label>kitOffer is active</cfg_label>
    <cfg_hint>If you switch &lt;b&gt;off&lt;/b&gt; kitOffer it will be no longer active, also Droplets will not perform any action.</cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.10</cfg_version>
    <cfg_update>INSERT</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  <setting>
    <cfg_name>cfgTestAA</cfg_name>
    <cfg_type>BOOLEAN</cfg_type>
    <cfg_usage>REGULAR</cfg_usage>
    <cfg_value>1</cfg_value>
    <cfg_value_set>grp A</cfg_value_set>
    <cfg_value_group>Page 1</cfg_value_group>
    <cfg_label>kitOffer is active</cfg_label>
    <cfg_hint>If you switch &lt;b&gt;off&lt;/b&gt; kitOffer it will be no longer active, also Droplets will not perform any action.</cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.10</cfg_version>
    <cfg_update>INSERT</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  <setting>
    <cfg_name>cfgTest4</cfg_name>
    <cfg_type>BOOLEAN</cfg_type>
    <cfg_usage>REGULAR</cfg_usage>
    <cfg_value>1</cfg_value>
    <cfg_value_set>NONE</cfg_value_set>
    <cfg_value_group>Page 2</cfg_value_group>
    <cfg_label>kitOffer is active</cfg_label>
    <cfg_hint>If you switch &lt;b&gt;off&lt;/b&gt; kitOffer it will be no longer active, also Droplets will not perform any action.</cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.10</cfg_version>
    <cfg_update>INSERT</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  <setting>
    <cfg_name>cfgTest1</cfg_name>
    <cfg_type>STRING</cfg_type>
    <cfg_usage>HIDDEN</cfg_usage>
    <cfg_value>xxxx</cfg_value>
    <cfg_value_set>NONE</cfg_value_set>
    <cfg_value_group>Page 2</cfg_value_group>
    <cfg_label></cfg_label>
    <cfg_hint></cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.13</cfg_version>
    <cfg_update>OVERWRITE</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  <setting>
    <cfg_name>cfgGroupOrder</cfg_name>
    <cfg_type>ARRAY</cfg_type>
    <cfg_usage>HIDDEN</cfg_usage>
    <cfg_value>Page 2,Page 1,Test</cfg_value>
    <cfg_value_set>NONE</cfg_value_set>
    <cfg_value_group>NONE</cfg_value_group>
    <cfg_label></cfg_label>
    <cfg_hint></cfg_hint>
    <cfg_module_name>kitOffer</cfg_module_name>
    <cfg_module_directory>kit_offer</cfg_module_directory>
    <cfg_module_group>KIT</cfg_module_group>
    <cfg_version>0.10</cfg_version>
    <cfg_update>DELETE</cfg_update>
    <cfg_timestamp></cfg_timestamp>
  </setting>
  
</configuration>